.box {
  margin: 1rem;
  border: 1px dotted rgb(39, 39, 41);
  padding: 1em;
  min-width: 200px;    
}
  
.box--warning {
  border-color: red;
  color: red;
}

.box--center {
  max-width: 500px;
  width: 100%;
  margin: 1rem auto;
}