.box {
  margin: 1rem;
  border: 1px dotted $black;
  padding: 1em;
  min-width: 200px;    
}
  
.box--warning {
  border-color: $red;
  color: $red;
}

@media(min-width: 600px) {  
  .box--center {
    max-width: 500px;
    width: 100%;
    margin: 15px auto;
  }
}