.form {    
    margin-top: 2rem;
    font-size: 16px;
  }
  
  .form label {  
    display: block;
    margin-bottom: 1rem;
  }
  
  .form input[type="submit"] {
    cursor: pointer;
  }
  
  
  .form small {
    color: #959d9e;
  }
  
  .form textarea {
    // Prevent form overflow
    width: 98%;
  }