.search {
  display: block;  
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  background: $white--shade;  
  font-size: 18px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);    
  &:focus {
    outline: none;
    border: 1px solid $gray;  
  }
}
  