.tag__container {
  margin-bottom: 25px;  
}

.tag {
  position: relative;
  border: none;
  border: 1px dotted $black; 
  background: none;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 5px 12px;
  font-size: 90%;
  transition: all 200ms ease;  
  &::before {
    position: absolute;
    content: "";
    border-top: 2px solid $black;
    left: 0;  
    right: 0;
    top: -1px;
  }
  &:hover {
    color: $blue;
    &::before{ border-top-color: $blue; }    
  }
}

@media(min-width:1200px) {
  .tag__container {
    margin-top: 15px;    
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateX(-110%);
  }
}