.files__item {
  position: relative;
  display: block;
  border: 1px dotted black;
  margin: 1rem;  
  padding: 1rem;
  color: rgb(106, 106, 122);
  transition: all 200ms ease;    
}

.files__item {
  text-decoration: none;
}

.files__item:hover {
  color: blue;  
}

.files__item:hover h3 {
  text-decoration: underline;
}


.files__item::after {
  position: absolute;
  content: "";
  border: 1px solid black;
  left: 0;  
  right: 0;
  bottom: -1px;
}