.files__item {
  position: relative;
  display: block;  
  // Fix clipping of border on mobile
  margin-right: 1px;
  margin-left: 1px;
  padding: 1rem;
  color: $gray;  
  text-decoration: none;    
  &::before {
    position: absolute;
    content: "";
    border-top: 2px solid $black;
    left: 0;  
    right: 0;
    top: -1px;
  }
  &:visited {    
    color: $gray;
    .files__item-title {
      text-decoration: underline;
    }
  }
  &:hover {
    .files__item-title {
      color: $blue;  
      text-decoration: underline;
    }
    &::before {border-top-color: $blue;}
  }
}
.files__item-title {
  margin-bottom: 1rem;  
}


